{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block content %}


<form method="POST" action="/login">
  <h2>Login Here</h2>
  <p>_______________________</p>
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.username)}}
  {{ wtf.form_field(form.password)}}
  <button class="btn" type="submit">Submit</button>
</form> 
<p>Don't have an account? <a href="signup">Sign Up</a></p>
<p>Forgot your password? <a href="forgotpassword">Click Here</a></p>

<style>
  form{
    margin-top: 100px;
  }
</style>
{% endblock %}