{% extends "userbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Home{% endblock %}
{% block head %}
<title>My Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block content %}

<div class="header">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
  {% endif %}
{% endwith %}
    <h1>My Account</h1>
    <h6>_______________________________</h6>
    <p>My username: {{ name }}</p>
    <p>My email address: {{ email }}</p>
    <p>Change Password? <a href="changepassword">Click here.</a></p>
    <p>_______________________________</p>
    {% if current_user.bio_content == None %}
      <p>My Bio: No bio yet.</p>
    {% else %}
      <p>My Bio: {{current_user.bio_content}} </p>
    {% endif %}
    <a class="btn btn-primary" href="/profile/bio">Update Bio</a>

    
</div>



<footer class="delete-acc">
  <a href="{{ url_for('delete_account')}}">Delete my Bloggy account.</a>
</footer>

<style>
    .header {
        color: #000000;

        margin-top: 100px;

    }

    a {
        text-decoration: none;
      }


    footer{
    position: fixed;
    left: 0;
    bottom: 0;

    }


</style>
{% endblock %}