{% extends "userbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Home{% endblock %}
{% block head %}
<title>My Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block content %}

  <div class="header">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="name-border">
    <div class='border'>
        <div class="user-content">
            <h1>{{ current_user.username }}</h1>
            {% if current_user.bio_content == None %}
                <p><p>My Bio: No bio yet.</p></p>
            {% else %}
                <p>{{ current_user.bio_content }}</p>
            {% endif %}
        </div>
    </div>
  </div>
<div class='edit-border'>
  <div class='border'>
	<div class='form'>
	<form method='POST' action=''>
		{{ form.hidden_tag ()}}
		{{ wtf.form_field(form.email)}}
		{{ wtf.form_field(form.username)}}
		{{ wtf.form_field(form.bio)}}
		{{ wtf.form_field(form.submit)}}
		<p>Change Password? <a href="changepassword">Click here.</a></p>
	</form>
	</div>
  
</div>
</div>
</div>

<footer class="delete-acc">
  <a href="{{ url_for('delete_account')}}">Delete my Bloggy account.</a>
</footer>

<style>
    .header {
        color: #000000;

        margin-top: 100px;

	}
	
	.name-border .user-content {
    margin-left: 10px;
    
	}

  .border {
    margin-top: 20px;
    border-radius: 5px;
  }

  .edit-border {
	background-color: #343a40;
	color: white;
	border-radius: 5px;
  }

  footer{
		left: 0;
		bottom: 0;

  }
    
  .form{
    margin-top: 20px;
    width: 90%;
    margin-left: 20px;
    
  }


</style>
{% endblock %}
