{% extends "userbase.html" %}
{% block title %}Home{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<title>My Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}
{% block content %}


<div class="name-border">
    <div class='border'>
        <div class="user-content">
            <h1><img class='rounded' src="{{ url_for('static', filename='profile_pics/' + user.profile_pic) }}" width="50" height="50"> {{ user.username }}</h1>
            {% if user.bio_content == None %}
                <p>No bio yet.</p>
            {% else %}
                <p>{{ user.bio_content }}</p>
            {% endif %}
        </div>
    </div>

</div>



<div class="posts">
<h2>Posts by {{user.username}}</h2>
{% for post in posts %}
    <div class='border'>
        <article class="content">

            <div class="media-body">
            <div class="article-metadata">
                <small>Posted by <a href="{{ url_for('user', username=post.author.username)}}" style="text-decoration: none;">{{ post.author.username}}</a> <img src='{{ user.profile_pic }}' width='15' height='15'> on {{post.post_date.strftime('%m/%d/%Y') }}</small>
            </div>
            <h3><a class="article-title" href="{{ url_for('post', post_id=post.id) }}" style="text-decoration: none;">{{ post.post_title }}</a></h3>
            <p class="article-content">{{ post.post_content }}</p>
            </div>
        </article>
    </div>
{% endfor %}
</div>
  


<style>


    .specific-post{

      margin-top: 100px;
    }
    
    .posts{
        margin-top: 30px;
    }

    .name-border {
        margin-top: 100px;
    }

    .name-border .user-content {
        margin-left: 10px;
    }

    .border {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .border .content {
        margin-left: 10px;
    }

</style>
{% endblock %}