{% extends "userbase.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<title>My Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}
{% block content %}


<div class="header">
    <div class="border"><h1>{{user.username}}</h1>
        {% if user.bio_content == None %}
            <div class="bio"><p>No bio yet.</p></div>
        {% else %}
            <div class="bio"><p>{{user.bio_content}}</p></div>
        {% endif %}
    </div>
</div>



<div class="posts">
<h2>Posts by {{user.username}}</h2>
{% for post in posts %}
 <article class="media content-section">

        <div class="media-body">
          <div class="article-metadata">
          </div>
          <small>Posted by <a href="{{ url_for('user', username=post.author.username)}}">{{ post.author.username}}</a> on {{post.post_date.strftime('%m/%d/%Y') }}</small>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}" style="text-decoration: none;">{{ post.post_title }}</a></h2>
          <p class="article-content">{{ post.post_content }}</p>
          <p>____________________________________________________</p>

      </article>

{% endfor %}
</div>
  


<style>


    .specific-post{

      margin-top: 100px;
    }
    .posts{
        margin-top: 50px;
    }
    .header{
        margin-top: 100px;
    }
    .header .border{
        border: 3px black solid;
    }

</style>
{% endblock %}