{% extends "userbase.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<title>My Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}
{% block content %}


<div class="header">
    <h1>{{user.username}}</h1>
    <p>______________________________________</p>
    {% if current_user.bio_content == None %}
        <p>No bio yet.</p>
    {% else %}
        <p>{{user.bio_content}}</p>
    {% endif %}
</div>

  


<style>


    .specific-post{

      margin-top: 100px;
    }

    .header{
        margin-top: 100px;
    }

</style>
{% endblock %}